aioesphomeapi==45.3.1
aiohappyeyeballs==2.7.1
ajsonrpc==1.2.0
altair==6.3.0
annotated-types==0.8.0
anyio==4.15.1
argcomplete==3.7.2
async_interrupt==1.2.2
attrs==26.1.0
backports.zstd==1.7.0
bitarray==3.11.0
bitstring==4.4.0
bleak==2.1.1
bottle==0.13.4
brotli==1.2.0
cbor2==5.9.0
certifi==2026.7.22
cffi==2.1.1
chacha20poly1305-reuseable==0.13.2
charset-normalizer==3.5.1
click==8.3.3
colorama==0.4.6
crcmod==1.7
cryptography==48.0.1
esphome==2026.6.5
esphome-dashboard==20260425.0
esphome-glyphsets==0.2.0
esptool==5.3.0
freetype-py==2.5.1
h11==0.16.0
httptools==0.8.0
icmplib==3.0.4
idna==3.19
ifaddr==0.2.0
inflate64==1.0.4
intelhex==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
marshmallow==3.26.2
mdurl==0.1.2
multivolumefile==0.2.3
narwhals==2.26.0
noiseprotocol==0.3.1
numpy==2.4.6
packaging==26.3
paho-mqtt==1.6.1
pandas==3.0.6
pillow==12.2.0
platformio==6.1.19
plotly==7.1.0
protobuf==7.36.1
psutil==7.2.2
puremagic==1.30
py7zr==1.1.0
pyarrow==25.0.1
pybcj==1.0.8
pycparser==3.0
pycryptodomex==3.23.0
pydantic==2.13.5
pydantic_core==2.46.5
pydeck==0.9.3
pyelftools==0.33
Pygments==2.21.0
pyparsing==3.3.2
pyppmd==1.3.1
pyserial==3.5
python-dateutil==2.9.0.post0
python-multipart==0.0.32
PyYAML==6.0.3
reedsolo==1.7.0
referencing==0.37.0
requests==2.34.2
resvg_py==0.3.2
rich==15.0.0
rich-click==1.9.9
rpds-py==2026.9.1
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
semantic-version==2.10.0
six==1.17.0
smp==4.1.0
smpclient==6.0.0
starlette==0.52.1
streamlit==1.65.0
tabulate==0.10.0
texttable==1.7.0
tibs==0.5.7
toml==0.10.2
tornado==6.5.7
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
tzlocal==5.3.1
urllib3==2.8.0
uvicorn==0.40.0
voluptuous==0.16.0
watchdog==6.0.0
websockets==17.2
winrt-runtime==3.2.1
winrt-Windows.Devices.Bluetooth==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Devices.Radios==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Storage.Streams==3.2.1
wsproto==1.3.2
zeroconf==0.150.0
